.volume-slider {
    -webkit-appearance: none;
    width: 150px;
    height: 10px;
    background: #aaa;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background 0.3s;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #666;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.volume-slider::-webkit-slider-thumb:hover {
    background: #000;
}