/* Inventory container */
.inventory {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    justify-content: space-around;
    grid-gap: 10px;
    width: 100%;
    background-color: ivory;
    background-color: rgba(255, 255, 240, 0.4);
    backdrop-filter: blur(20px);
    /* 블러 효과 */
    /* 반투명 배경 */
    border: 2px solid #555;
    padding: 25px 0 30px;
    border-radius: 10px;
}

/* Each slot */
.slot {
    width: 100%;
    height: 70px;
    border: 2px solid #555;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background-color: #333;
    transition: all 0.2s;
}

/* Empty slot styling */
.slot.empty {
    background-color: #444;
}

/* Filled slot styling */
.slot.filled {
    background-color: ivory;
    color: #444;
    /* Green color for filled slots */
}

/* Hover effect */
.slot:hover {
    border-color: #fff;
    transform: scale(1.1);
}